.table1
{
  text-align-last:  center;
  /* border-radius: 5px;
  
  width: 50%;
  margin: 0px auto;
  float: none; */
}
.clr
{
    color : #074ab7;
    font-size: 30px;
}
.iconclr
{ font-size: 2em;
    color : #f9616e;
}
.fa.disabled {
  opacity: 0.6;
  cursor: no-drop;
}
.fa {
  cursor: pointer;
}
.countalign{
  margin-top: 6px;
  margin-left: 7px;
}

